{% include "vueEntete.html" %}
{% include "vueEnteteGestionnaire.html" %}

<div class = "tabPersonnelSansCarte">
	<table>
		<tr>
			<th>Matricule</th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Service</th>
		</tr>
			{% for personnel in listePersonnel %}
			<tr>
				<td>{{ personnel['matricule'] }}</td>
				<td>{{ personnel['nom'] }}</td>
				<td>{{ personnel['prenom'] }}</td>
				<td>{{ personnel['nomService'] }}</td>
				
				<td><a type="button" class="btn btn-default" data-toggle="modal" data-target="#ModalConfirm{{personnel['matricule']}}1">Créer carte</a></td>
				<!-- Modal -->
				<div class="modal fade" id="ModalConfirm{{personnel['matricule']}}1" role="dialog">
					<div class="modal-dialog modal-sm">
				<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Creation de la carte</h4>
							</div>
							<div class="modal-body">
								<p>Confirmer la création de la carte ?</p>
							</div>
							<div class="modal-footer">
								<a type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#ModalConfirm{{personnel['matricule']}}2">Oui</a>
								<button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="ModalConfirm{{personnel['matricule']}}2" role="dialog">
					<div class="modal-dialog modal-sm">
				<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Activation de la carte</h4>
							</div>
							<div class="modal-body">
								<p>La carte est par default bloquée voulez vous l'activer ?</p>
							</div>
							<div class="modal-footer">
								<a href = "/gestionnaire/creerCarte/{{personnel['matricule']}}/1" type="button" class="btn btn-default" >Oui</a>
								<a href = "/gestionnaire/creerCarte/{{personnel['matricule']}}/0" type="button" class="btn btn-default" >Non</a>
							</div>
						</div>    
					</div>
				</div>
			</td>
			</tr>
			{% endfor %}
			
			
	</table>
</div>





{% include "vuePied.html" %}
